<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%></title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Themesdesign" />

    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" />

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />

</head>

<body>
    <!-- START -->
    <div class="account-pages">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        
                        <div class="auth-head position-relative">
                            <div class="bg-overlay-2"></div>
                            <div class="text-primary position-relative text-center p-5">
                                <a href="/" class="logo logo-admin">
                                    <img src="images/logo-sm.png" height="26" alt="logo">
                                </a>
                                <h5 class="text-white f-20 mt-3">Register Account</h5>
                            </div>
                        </div>
   <!-- message -->
   <div class="container flash-message mt-5 text-center">

    <% if(success_messages && success_messages.length > 0) { %>
    <div class="alert alert-success stay-small text-center auto-hide">
        <strong><%= success_messages %></strong>
    </div>
    <% } %>

    <% if(error_messages && error_messages.length > 0) { %>
    <div class="alert  alert-danger stay-small text-center auto-hide">
        <strong> <%= error_messages %> </strong>
    </div>
    <% } %>

</div>
                        <div class="card-body p-4">
                            <div class="p-3">
                                <form class="custom-form" method="POST" action="/register">
                                    <div class="mb-3 text-center">
                                        <label for="gender" class="form-label">Register as:</label>
                                        <div class="position-relative">
                                            <input class="form-check-input" type="radio" name="userType" value="client">
                                            <label class="form-check-label" for="client">Clients</label>
                                            <input class="form-check-input" type="radio" name="userType" id="female" value="builder">
                                            <label class="form-check-label" for="builder">Builder</label>
                                        </div>
                                    </div>                                  
                                    <div class="mb-3">
                                        <input type="text" name="fullName" class="form-control" placeholder="Enter full name">
                                    </div>
                                    <div class="mb-3">
                                        <input type="email" name="email" class="form-control" placeholder="Enter email">
                                    </div>
                                    
                                    <div class="form-password mb-3 auth-pass-inputgroup">
                                        <div class="position-relative">
                                            <input type="password" name="password" class="form-control" id="password-input" placeholder="Enter password">
                                            <button type="button" class="btn btn-link position-absolute h-100 end-0 top-0 shadow-none" id="password-addon">
                                                <i class="mdi mdi-eye-outline f-16 text-muted"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-password mb-3 auth-pass-inputgroup">
                                        <div class="position-relative">
                                            <input type="password" name="confirmPassword" class="form-control" id="password-input" placeholder="Confirm password">
                                            <button type="button" class="btn btn-link position-absolute h-100 end-0 top-0 shadow-none" id="password-addon">
                                                <i class="mdi mdi-eye-outline f-16 text-muted"></i>
                                            </button>
                                        </div>
                                    </div>
                                    
                                    <div class="mt-3">
                                        <button class="btn btn-success rounded-3 w-100" type="submit">Register</button>
                                    </div>

                                </form>
                                <!-- end form -->
                            </div>
                        </div>
                        <!-- end cardbody -->
                    </div>
                    <!-- end card -->

                    <div class="mt-5 text-center">
                        <p>Already have an account ?<a href="/signIn" class="fw-bold text-success"> Signin now </a> </p>
                        <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> BuildConnect.</p>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
    </div>
    <!-- end -->
    
    <!-- bootstrap -->
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- CUSTOM JS -->
    <script src="js/app.js"></script>
</body>

</html>